{% extends "base.html" %}

{% block title %}
    Registrar Cliente
{% endblock %}


{% block body %}
    <h1></h1>
    <div class="row">
        <div class="col-6">
            <h1></h1>
            <h1></h1>
            <h1>Agregar Cliente</h1>
            <h1></h1>
            <h1></h1>
        </div>
    </div>
    <h1></h1>
    <form action="/guardarCliente/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="numeroCI">* Numero de CI</label>
            <input type="" name="numeroCI" class="form-control" id="exampleInputEmail1" aria-describedby=""
                   placeholder="" style="width: 15%;">
        </div>
        <div class="form-group">
            <label for="">* Nombre</label>
            <input type="" name="nombre" class="form-control" id="" aria-describedby="emailHelp" placeholder="" style="width: 50%;">
        </div>
        <div class="form-group">
            <label for="">* Apellido</label>
            <input type="" name="apellido" class="form-control" id="" aria-describedby="emailHelp" placeholder="" style="width: 50%;">
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="telefono">* Telefono</label>
                <input type="text" name="telefono" class="form-control" id="telefono" style="width: 100%;">
            </div>
            <div class="form-group col-md-4">
                <label for="email">* Email</label>
                <input type="email" name="email" class="form-control" id="email" style="width: 100%;">
            </div>
            <div class="form-group col-md-4">
                <label for="fechanacimiento">* Fecha Nacimiento</label>
                <input type="date" name="fechanacimiento" class="form-control" id="fechanacimiento" style="width: 100%;">
            </div>
        </div>
        <div class="form-group">
            <label for="">* Direccion</label>
            <input type="" name="direccion" class="form-control" id="" aria-describedby="emailHelp" placeholder="">
        </div>
        <div class="form-group">
            <label for="sexo">* Sexo</label>
            <h1></h1>
            <select class="custom-select custom-select-sm" name="sexo" id="sexo" style="width: 15%;">
                <option selected>Elegir</option>
                <option value="{{ sexo.0 }}">{{ sexo.0 }}</option>
                <option value="{{ sexo.1 }}">{{ sexo.1 }}</option>
            </select>
        </div>
        
        <button type="submit" class="btn btn-primary">Guardar Cliente</button>
    </form>

{% endblock %}