{% extends "base.html" %}

{% block title %}
    Registrar Servicio
{% endblock %}


{% block body %}
    <h1></h1>
    <div class="row">
        <div class="col-6">
            <h1></h1>
            <h1></h1>
            <h1>Agregar Servicio</h1>
            <h1></h1>
            <h1></h1>
        </div>
    </div>
    <h1></h1>
    <form action="/guardarServicio/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="nombre">* Nombre Servicio</label>
            <input type="" name="nombre" class="form-control" id="exampleInputEmail1" aria-describedby=""
                   placeholder="" style="width: 20%;">
        </div>
        <div class="form-group">
            <label for="descripcion">* Descripcion Servicio</label>
            <input type="" name="descripcion" class="form-control" id="" aria-describedby="emailHelp" placeholder="">
        </div>
        
        <button type="submit" class="btn btn-primary">Guardar Servicio</button>
    </form>

{% endblock %}