{% extends "base.html" %}

{% block title %}
    Registrar Usuario
{% endblock %}


{% block body %}
    <h1></h1>
    <div class="row">
        <div class="col-6">
            <h1></h1>
            <h1></h1>
            <h1>Agregar Usuario</h1>
            <h1></h1>
            <h1></h1>
        </div>
    </div>
    <h1></h1>
    <form action="/guardarUsuario/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="">* Nombre</label>
            <input type="" name="nombre" class="form-control" id="" aria-describedby="emailHelp" placeholder="" style="width: 50%;">
        </div>
        <div class="form-group">
            <label for="">* Apellido</label>
            <input type="" name="apellido" class="form-control" id="" aria-describedby="emailHelp" placeholder="" style="width: 50%;">
        </div>
        <div class="form-group">
            <label for="email">* Email</label>
            <input type="email" name="email" class="form-control" id="email" style="width: 25%;">
        </div>

        <div class="form-group">
            <label for="">* Rol </label>
            <h1></h1>
            <select class="custom-select" name="rol" style="width: 15%;">
                <option selected>Seleccionar Rol</option>
                {% for rol in roles %}
                    <option value={{ rol.id_rol }}>{{ rol.rol }} </option>
                {% endfor %}

            </select>
        </div>

        <div class="form-group">
            <label for="pass">* Contraseña</label>
            <input type="password" name="pass" class="form-control" id="email" style="width: 25%;">
        </div>
        <div class="form-group">
            <div class="form-check form-check-inline">
                <input type="checkbox" name="activo" class="form-check-input" id="activo">
                <label class="form-check-label" for="activo">Activo</label>
            </div>
        </div>
        

        <button type="submit" class="btn btn-primary">Guardar Usuario</button>
    </form>

{% endblock %}