<!DOCTYPE html>
<html lang="es">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <a class="navbar-brand" href="#">Bootcamp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item font-weight-bold">
                    <a class="nav-link" href="/inicio">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="/colaEspera">Turnos </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="/clientes">Clientes </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="/servicios">Servicios </a>
                </li>
                {% if request.session.rol == 'Admin' %}
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="/usuarios">Usuarios </a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="/prioridades">Prioridades </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="/roles">Roles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="/permisos">Permisos </a>
                </li>
            </ul>
            <div class="ml-auto">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="/logout">
                            <button class="btn btn-dark btn-sm font-weight-bold">Cerrar Sesion</button>
                        </a>
                    </li>
                </ul>
            </div>
            
        </div>
    </nav>
    <div class="container py-4">
        {% block body %}

        {% endblock %}   
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous">
    </script>
</body>

</html>