{% extends "./base.html" %}

{% block title %} Clientes {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <h1>Clientes</h1>
                </div>
                <div class="col-6 text-right mt-4">
                    <a href="/aggCliente/" class="btn btn-link font-weight-bold">Agregar</a>
                </div>
            </div>
            <div class="table-responsive py-2">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">CI</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Fecha Nac</th>
                            <th scope="col">Telefono</th>
                            <th scope="col">Email</th>
                            <th scope="col">Direccion</th>
                            <th scope="col">Sexo</th>
                            <th colspan="2">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if clientes %}
                            {% for dato in clientes %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{ dato.CI }}</td>
                                    <td>{{ dato.nombre }}</td>
                                    <td>{{ dato.apellido }}</td>
                                    <td>{{ dato.fecha_nacimiento }}</td>
                                    <td>{{ dato.telefono }}</td>
                                    <td>{{ dato.email }}</td>
                                    <td>{{ dato.direccion }}</td>
                                    <td>{{ dato.sexo }}</td>
                                    <td>
                                        <a class="btn btn-info" href="/editarcliente/{{dato.id_cliente}}/" role="button">Editar</a>
                                    </td>
                                    {% if request.session.rol == 'Admin' %}
                                        <td>
                                            <a class="btn btn-danger" href="#" role="button" onclick="confirmarEliminacion('{{ dato.id_cliente }}')">Eliminar</a>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="10">No hay datos</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="confirmacionEliminacion" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmación de Eliminación</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>¿Estás seguro de eliminar este cliente?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" id="btnEliminarCliente">Eliminar</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function confirmarEliminacion(idCliente) {
            $('#btnEliminarCliente').attr('onclick', 'eliminarCliente("' + idCliente + '")');
            $('#confirmacionEliminacion').modal('show');
        }

        function eliminarCliente(idCliente) {
            window.location.href = '/eliminarcliente/' + idCliente + '/';
        }
    </script>
{% endblock %}
