{% extends "./base.html" %}

{% block title %} Turnos {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <h1>Lista de Turnos</h1>
                </div>
                <div class="col-6 text-right mt-4">
                    <a href="/aggTurno/" class="btn btn-link font-weight-bold">Agregar</a>
                </div>
            </div>
            <div class="table-responsive py-2">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Ticket</th>
                            <th scope="col">Cliente</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Prioridad</th>
                            <th scope="col">Tipo Servicio</th>
                            <th colspan="2">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if listaDatos %}
                            {% for dato in listaDatos %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ dato.numero_ticket }}</td>
                                    <td>{{ dato.cliente }}</td>
                                    <td>{{ dato.estado }}</td>
                                    <td>{{ dato.prioridad }}</td>
                                    <td>{{ dato.tipo_servicio }}</td>
                                    <td>
                                        <a href="/editarturno/{{ dato.id_cola_espera }}/" class="btn btn-info">Editar</a>
                                    </td>
                                    {% if request.session.rol == 'Admin' %}
                                        <td>
                                            <a class="btn btn-danger" href="#" role="button" onclick="confirmarEliminacion('{{ dato.id_cola_espera }}')">Eliminar</a>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="6">No hay datos</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="confirmacionEliminacion" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmación de Eliminación</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>¿Estás seguro de eliminar este turno?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" id="btnEliminarTurno">Eliminar</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function confirmarEliminacion(idTurno) {
            $('#btnEliminarTurno').attr('onclick', 'eliminarTurno("' + idTurno + '")');
            $('#confirmacionEliminacion').modal('show');
        }

        function eliminarTurno(idTurno) {
            window.location.href = "/eliminarturno/" + idTurno + "/";
        }
    </script>
{% endblock %}
