{% extends "base.html" %}

{% block title %}
    Editar Turno
{% endblock %}


{% block body %}
    <h1></h1>
    <div class="row">
        <div class="col-6">
            <h1></h1>
            <h1></h1>
            <h1>Editar Turno</h1>
            <h1></h1>
            <h1></h1>
        </div>
    </div>
    <h1></h1>
    <form action="/actualizarturno/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="">ID</label>
            <input type="text" name="id" class="form-control" id="exampleInputEmail1" aria-describedby="" placeholder="" style="width: 8%;"
                   value="{{ colaEspera.id_cola_espera }}" readonly>
        </div>
        <div class="form-group">
            <label for="">Cliente</label>
            <input type="text" name="id_cliente" class="form-control" id="exampleInputEmail1" aria-describedby=""
                   placeholder="" style="width: 50%;" value="{{ colaEspera.id_cliente.nombre }} {{ colaEspera.id_cliente.apellido }}" readonly>
        </div>
        <div class="form-group">
            <label for="">* Prioridad</label>
            <h1></h1>
            <select class="custom-select" name="prioridad" style="width: 10%;">
                <option selected value="{{ colaEspera.id_prioridad.id_prioridad }}">{{ colaEspera.id_prioridad.nivel_nombre }}</option>
                {% for prioridad in prioridades %}
                    <option value="{{ prioridad.id_prioridad }}">{{ prioridad.nivel_nombre }}</option>
                {% endfor %}
            </select>
        </div>
        
        
        <div class="form-group">
            <label for="">*Estado</label>
            <select class="custom-select" name="estado">
                <option value="{{ colaEspera.estado }}">{{ colaEspera.estado }}</option>
                {% for estad in estados %}
                    <option value="{{ estad.estado }}">{{ estad.estado }}</option>
                {% endfor %}
            </select>
        </div>
        
        
        
        <div class="form-group">
            <label for="">Servicio</label>
            <input type="text" name="id_servicio" class="form-control" id="exampleInputEmail1" aria-describedby=""
                   placeholder="" style="width: 50%;" value="{{ colaEspera.id_servicio.nombre_servicio }}" readonly>
        </div>
        <button type="submit" class="btn btn-primary">Actualizar Turno</button>
    </form>

{% endblock %}