{% extends "base.html" %}

{% block title %}
    Editar Usuario
{% endblock %}


{% block body %}
    <h1></h1>
    <div class="row">
        <div class="col-6">
            <h1></h1>
            <h1></h1>
            <h1>Editar Usuario</h1>
            <h1></h1>
            <h1></h1>
        </div>
    </div>
    <h1></h1>
    <form action="/actualizarusuario/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id">ID</label>
            <input type="" name="id" class="form-control" id="exampleInputEmail1" aria-describedby=""
                   placeholder="" style="width: 6%;" value="{{ usuario.id_usuario }}" readonly>
        </div>

        <div class="form-group">
            <label for="">*Nombre y Apellido</label>
            <input type="" name="nombrecompleto" class="form-control" id="" aria-describedby="emailHelp" placeholder="" style="width: 50%;" value="{{ usuario.nombre }} {{ usuario.apellido }}"readonly>
        </div>


        <div class="form-group">
            <label for="email">* Email</label>
            <input type="email" name="email" class="form-control" id="email" style="width: 25%;" value="{{usuario.email}}" readonly>
        </div>

        <div class="form-group">
            <label for="">* Rol </label>
            <h1></h1>
            <select class="custom-select" name="rol" style="width: 15%;">
                <option selected value="{{ usuario.id_rol_fk.id_rol }}">{{ usuario.id_rol_fk.rol }}</option>
                {% for rol in roles %}
                <option value="{{ rol.id_rol }}" >{{ rol.rol }}</option>
                {% endfor %}

            </select>
        </div>
        
        <div class="form-group">
            <label for="pass">* Contraseña</label>
            <input type="password" name="pass" class="form-control" id="email" style="width: 25%;" value="{{usuario.clave}}">
        </div>
        <div class="form-group">
            <div class="form-check form-check-inline">
                <input type="checkbox" name="activo" class="form-check-input" id="activo" {% if usuario.activo %}checked{% endif %}>
                <label class="form-check-label" for="activo">Activo</label>
            </div>
        </div>
        
        

        <button type="submit" class="btn btn-primary">Guardar Usuario</button>
    </form>

{% endblock %}