{% extends "base.html" %}

{% block title %}
    Editar Servicio
{% endblock %}


{% block body %}
    <h1></h1>
    <div class="row">
        <div class="col-6">
            <h1></h1>
            <h1></h1>
            <h1>Editar Servicio</h1>
            <h1></h1>
            <h1></h1>
        </div>
    </div>
    <h1></h1>
    <form action="/actualizarservicio/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id">ID</label>
            <input type="" name="id" class="form-control" id="exampleInputEmail1" aria-describedby=""
                   placeholder="" style="width: 6%;" value="{{ servicio.id_tipo_servicio }}" readonly>
        </div>

        <div class="form-group">
            <label for="nombreServicio">* Nombre Servicio</label>
            <input type="" name="nombreServicio" class="form-control" id="exampleInputEmail1" aria-describedby=""
                   placeholder="" style="width: 20%;" value="{{servicio.nombre_servicio}}">
        </div>
        <div class="form-group">
            <label for="descripcionServicio">* Descripcion Servicio</label>
            <input type="" name="descripcionServicio" class="form-control" id="" aria-describedby="emailHelp" placeholder="" value="{{servicio.descripcion_servicio}}">
        </div>
        
        <button type="submit" class="btn btn-primary">Guardar cambios</button>
    </form>

{% endblock %}