{% extends "base.html" %}

{% block title %}
    Editar Cliente
{% endblock %}


{% block body %}
    <h1></h1>
    <div class="row">
        <div class="col-6">
            <h1></h1>
            <h1></h1>
            <h1>Editar Cliente</h1>
            <h1></h1>
            <h1></h1>
        </div>
    </div>
    <h1></h1>
    <form action="/actualizarcliente/" method="post">
        {% csrf_token %}
        <br>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="" name="id" class="form-control" id="exampleInputEmail1" aria-describedby=""
                   placeholder="" style="width: 6%;" value="{{ cliente.id_cliente }}" readonly>
        </div>


        
        <div class="form-group">
            <label for="">*Nombre y Apellido</label>
            <input type="" name="nombrecompleto" class="form-control" id="" aria-describedby="emailHelp" placeholder="" style="width: 50%;" value="{{ cliente.nombre }} {{ cliente.apellido }}"readonly>
        </div>

        <div class="form-group">
            <label for="numeroCI">* Numero de CI</label>
            <input type="" name="numeroCI" class="form-control" id="exampleInputEmail1" aria-describedby=""
                   placeholder="" style="width: 15%;" value="{{ cliente.CI }}" readonly>
        </div>


        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="telefono">* Telefono</label>
                <input type="text" name="telefono" class="form-control" id="telefono" style="width: 100%;" value={{ cliente.telefono }}>
            </div>
            <div class="form-group col-md-4">
                <label for="email">* Email</label>
                <input type="email" name="email" class="form-control" id="email" style="width: 100%;" value={{ cliente.email }}>
            </div>
            <div class="form-group col-md-4">
                <label for="fechanacimiento">* Fecha Nacimiento</label>
                <input type="date" name="fechanacimiento" class="form-control" id="fechanacimiento" style="width: 100%;" value="{{ cliente.fecha_nacimiento|date:'Y-m-d' }}">
            </div>
            
        </div>
        <div class="form-group">
            <label for="">* Direccion</label>
            <input type="" name="direccion" class="form-control" id="direccion" aria-describedby="emailHelp" placeholder="" value="{{ cliente.direccion }}">
        </div>
        <div class="form-group">
            <label for="sexo">* Sexo  </label>
            <select class="custom-select custom-select-sm" name="sexo" id="sexo" style="width: 5%;">
                <option value="">Elegir</option>
                <option value="{{ sexo.0 }}" {% if cliente.sexo == sexo.0 %}selected{% endif %}>{{ sexo.0 }}</option>
                <option value="{{ sexo.1 }}" {% if cliente.sexo == sexo.1 %}selected{% endif %}>{{ sexo.1 }}</option>
            </select>
        </div>
        
        <button type="submit" class="btn btn-primary">Actualizar Datos</button>
    </form>

{% endblock %}