{% extends "./base.html" %}

{% block title %} Inicio {% endblock %}

{% block body %}

<div class="row align-items-center" style="height: 80vh; background-image: 'static/images/fondoInicio.jpg'; background-size: cover; background-position: center;">
    <div class="col-12 text-center">
        <h1 style="background-color: white; padding: 20px;">Bienvenid@!!!</h1>
    </div>
</div>

{% endblock %}
