{% extends "./base.html" %}

{% block title %} Permisos {% endblock %}

{% block body %}


<div class="row">
    <div class="col-12">
        <h1>Permisos</h1>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Codigo</th>
                        <th scope="col">Permisos</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th scope="col"> </th>
                    </tr>
                </thead>
                <tbody>
                    {% if permisos %}
                    {% for permiso in permisos %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ permiso.codigo }}</td>
                            <td>{{ permiso.descripcion }}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="10">No hay datos</td>
                    </tr>
                {% endif %}
                </tbody>
                
            </table>
        </div>
    </div>
</div>

{% endblock %}