{% extends "./base.html" %}

{% block title %} Prioridades {% endblock %}

{% block body %}


<div class="row">
    <div class="col-12">
        <h1>Prioridades</h1>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Prioridad</th>
                        <th scope="col">Descripcion</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% if prioridades %}
                    {% for prioridad in prioridades %}
                        <tr>
                            <td >{{ forloop.counter }}</td>
                            <td >{{ prioridad.nivel_nombre }}</td>
                            <td >{{ prioridad.descripcion_prioridad }}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="10">No hay datos</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}