{% extends "./base.html" %}

{% block title %} Servicios {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <h1>Servicios</h1>
                </div>
                <div class="col-6 text-right mt-4">
                    {% if request.session.rol == 'Admin' %}
                        <a href="/aggServicio/" class="btn btn-link font-weight-bold">Agregar</a>
                    {% endif %}
                </div>
            </div>
            <div class="table-responsive py-2">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Servicio</th>
                            <th scope="col">Descripcion</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th colspan="2">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if servicios %}
                            {% for servicio in servicios %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ servicio.nombre_servicio }}</td>
                                    <td>{{ servicio.descripcion_servicio }}</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        {% if request.session.rol == 'Admin' %}
                                            <a class="btn btn-info" href="/editarservicio/{{ servicio.id_tipo_servicio }}/" role="button">Editar</a>
                                            <a class="btn btn-danger" href="#" role="button" onclick="confirmarEliminacion('{{ servicio.id_tipo_servicio }}')">Eliminar</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="4">No hay datos</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="confirmacionEliminacion" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmación de Eliminación</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>¿Estás seguro de eliminar este servicio?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" id="btnEliminarServicio">Eliminar</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function confirmarEliminacion(idServicio) {
            $('#btnEliminarServicio').attr('onclick', 'eliminarServicio("' + idServicio + '")');
            $('#confirmacionEliminacion').modal('show');
        }

        function eliminarServicio(idServicio) {
            window.location.href = '/eliminarservicio/' + idServicio + '/';
        }
    </script>
{% endblock %}
