{% extends "./base.html" %}

{% block title %} Usuarios {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <h1>Usuarios</h1>
                </div>
                <div class="col-6 text-right mt-4">
                    <a href="/aggUsuario/" class="btn btn-link font-weight-bold">Agregar</a>
                </div>
            </div>
            <div class="table-responsive py-2">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Rol</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Email</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if usuarios %}
                            {% for usuario in usuarios %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ usuario.id_rol_fk.rol }}</td>
                                    <td>{{ usuario.nombre }}</td>
                                    <td>{{ usuario.apellido }}</td>
                                    <td>{{ usuario.email }}</td>
                                    <td>
                                        {% if usuario.activo %}
                                            Activo
                                        {% else %}
                                            Inactivo
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a class="btn btn-info" href="/editarusuario/{{ usuario.id_usuario }}/" role="button">Editar</a>
                                        <a class="btn btn-danger" href="#" role="button" onclick="confirmarEliminacion('{{ usuario.id_usuario }}')">Eliminar</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="7">No hay datos</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="confirmacionEliminacion" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmación de Eliminación</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>¿Estás seguro de eliminar este usuario?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" id="btnEliminarUsuario">Eliminar</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function confirmarEliminacion(idUsuario) {
            $('#btnEliminarUsuario').attr('onclick', 'eliminarUsuario("' + idUsuario + '")');
            $('#confirmacionEliminacion').modal('show');
        }

        function eliminarUsuario(idUsuario) {
            window.location.href = '/eliminarusuario/' + idUsuario + '/';
        }
    </script>
{% endblock %}
